.para{
    background:linear-gradient(to right, rgb(239, 74, 14),rgb(215, 108, 26),rgb(197, 138, 36),rgb(230, 202, 24));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: "itim";
    font-weight: 300;
    
}